<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeEditForm.valid">Zapisz</button>
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Anuluj</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nazwa:</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image">URL obrazka:</label>
            <input type="text" id="image" class="form-control" formControlName="image">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="recipeEditForm.get('image').value">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="recipeEditForm.get('image').value" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="desc">Opis:</label>
            <textarea type="text" id="desc" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row" formArrayName="ingredients">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <label>Składniki:</label>
            </div>
          </div>
          <div class="row" *ngFor="let ingredient of controls; let i = index" [formGroupName]="i">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">Usuń</button>
            </div>
          </div>
        </div>
      </div>
      <hr *ngIf="ingredientsCheck()">
      <div class="row">
        <div class="col-xs-12">
          <button type="button" (click)="onAddIngredient()" class="btn btn-success">Nowy składnik</button>
        </div>
      </div>
    </form>
  </div>
</div>
