<app-header (recipeClick)="tab = $event" (shoppingClick)="tab = $event"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="row" *ngIf="tab === 'recipes'">
          <div class="col-md-5">
            <app-recipelist (recipeClick)="showRecipe($event)"></app-recipelist>
          </div>
          <div class="col-md-7">
            <app-recipedetail [recipe]="currentRecipe" *ngIf="currentRecipe; else infoText"></app-recipedetail>
            <ng-template #infoText>
              <p>Wybierz przepis!</p>
            </ng-template>
          </div>
        </div>
        <app-shoppinglist *ngIf="tab === 'shopping'"></app-shoppinglist>

    </div>
  </div>
</div>
