<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" type="button" name="button" routerLink="new" >Nowy przepis</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr>
        <!-- <app-loading-spinner *ngIf="fetching; else showRecipes"></app-loading-spinner> -->
        <ng-template #showRecipes>
          <app-recipeitem *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [id]="i" ></app-recipeitem>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
